body {

	background: linear-gradient(44deg, #b1ddea, #0d143a) no-repeat center center fixed;
	background-size: 400% 400%;

	-webkit-animation: AnimationName 6s ease infinite;
	-moz-animation: AnimationName 6s ease infinite;
	animation: AnimationName 6s ease infinite;


}

.grad {

	color: white;

	background: linear-gradient(44deg, #b1ddea, #0d143a) no-repeat center center fixed;
	background-size: 400% 400%;

	-webkit-animation: AnimationName 6s ease infinite;
	-moz-animation: AnimationName 6s ease infinite;
	animation: AnimationName 6s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
@keyframes AnimationName { 
    0%{background-position:86% 0%}
    50%{background-position:15% 100%}
    100%{background-position:86% 0%}
}
